<div class="container">
  <h1>Here's your todo list :</h1>
  <% @todos.each do |todo| %>
    <div class="todo">
      <% if todo.state == false %>
        <%= link_to todo_path(id: todo, state: true), remote: true, method: :patch do %>
          <div class="state">Mark as done</div>
        <% end %>
      <% else %>
        <%= link_to todo_path(id: todo, state: false), remote: true, method: :patch do %>
          <div class="state">Mark as not done</div>
        <% end %>
      <% end %>
      <span class="todo-title"><%= todo.title %></span>
      <%= link_to "Show", todo_path(id: todo) %>
    </div>
  <% end %>
</div>
